<app-title [title]="'Perfil'" [iconClass]="'fa fa-address-card'"></app-title>
<div class="card rounded shadow-sm mb-5" style="margin-top: 30px !important;">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="row p-3">
      <div class="col-lg-3 pt-1">

        <div class="card mb-3">
          <div class="card-header"></div>
          <div class="d-flex align-self-center pt-3">
            <a href="#aboutModal" data-toggle="modal" data-target="#myModal">
              <img
                src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcRbezqZpEuwGSvitKy3wrwnth5kysKdRqBW54cAszm_wiutku3R"
                name="aboutme" width="120" height="120" class="rounded-circle">
            </a>
          </div>
          
          <div class="card-body">
            <div class="h7 text-center mb-3">@{{f.userName.value}}</div>
            <div class="h7 text-bold pb-1"><b>Nome:</b> {{f.nome.value + ' ' + f.sobrenome.value}}</div>
            <div class="h7" style="font-size: 12px !important;">
              {{f.descricao.value}}
            </div>
          </div>

          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <div class="row">
                <div class="col-6 text-center border-right">
                  <div class="h7">0</div>
                  <p class="text-muted" style="font-size: 12px !important; font-weight: bold !important;">Meus Eventos</p>
                </div>
                <div class="col-6 text-center">
                  <div class="h7">0</div>
                  <p class="text-muted" style="font-size: 12px !important; font-weight: bold !important;">Eventos palestrados</p>
                </div>
              </div>
            </li>
          </ul>

          <div class="card-footer"></div>
        </div>
      </div>

      <div class="col-lg-9">

        <div class="form-row">
          <div class="form-group col">
            <label>Título</label>
            <select formControlName="title" class="form-control"
              [ngClass]="{ 'is-invalid': f.title.errors && f.title.touched }">
              <option value="NaoInformado">Não Quero</option>
              <option value="Tecnologo">Tecnólogo(a)</option>
              <option value="Bacharel">Bacharel</option>
              <option value="Especialista">Especialista</option>
              <option value="PosGraduado">Pós Graduado(a)</option>
              <option value="Mestrado">Mestre</option>
              <option value="Doutorado">Doutor(a)</option>
              <option value="PosDoutorado">Pós Doc</option>
            </select>
            <div *ngIf="f.title.errors && f.title.touched" class="invalid-feedback">
              <div *ngIf="f.title.errors.required">Título é obrigatório</div>
            </div>
          </div>

          <div class="row">
            <div class="form-group col-sm-6">
              <label>Nome</label>
              <input type="text" formControlName="nome" class="form-control"
                [ngClass]="{ 'is-invalid': f.nome.errors && f.nome.touched }" />
              <div *ngIf="f.nome.errors && f.nome.touched" class="invalid-feedback">
                <div *ngIf="f.nome.errors.required">Primeiro nome é obrigatório</div>
              </div>
            </div>

            <div class="form-group col-sm-6">
              <label>Sobrenome</label>

              <input type="text" formControlName="sobrenome" class="form-control"
                [ngClass]="{ 'is-invalid': f.sobrenome.errors && f.sobrenome.touched }" />
              <div *ngIf="f.sobrenome.errors && f.sobrenome.touched" class="invalid-feedback">
                <div *ngIf="f.sobrenome.errors.required">Último nome é obrigatório</div>
              </div>
            </div>
          </div>

       

          <div class="form-group col-12">
            <label>Descrição</label>
            <input type="text" formControlName="descricao" class="form-control"
              [ngClass]="{ 'is-invalid': f.descricao.errors && f.descricao.touched }" />
            <div *ngIf="f.descricao.errors && f.descricao.touched" class="invalid-feedback">
              <div *ngIf="f.descricao.errors.required">Descrição é obrigatório</div>
            </div>
          </div>
          
        </div>

        <div class="row">
          <div class="form-group col-sm-5">
            <label>E-mail</label>
            <input type="text" formControlName="email" class="form-control"
              [ngClass]="{ 'is-invalid': f.email.errors && f.email.touched }" />
            <div *ngIf="f.email.errors && f.email.touched" class="invalid-feedback">
              <div *ngIf="f.email.errors.required">e-mail é obrigatório</div>
              <div *ngIf="f.email.errors.email">e-mail precisa ser um endereço válido.</div>
            </div>
          </div>

          <div class="form-group col-sm-4">
            <label>Telefone</label>
            <input type="text" formControlName="phoneNumber" class="form-control"
              [ngClass]="{ 'is-invalid': f.phoneNumber.errors && f.phoneNumber.touched }" />
            <div *ngIf="f.phoneNumber.errors && f.phoneNumber.touched" class="invalid-feedback">
              <div *ngIf="f.phoneNumber.errors.required">Telefone é obrigatório</div>
            </div>
          </div>
          
          <div class="form-group col-sm">
            <label>Função</label>
            <select formControlName="function" class="form-control"
              [ngClass]="{ 'is-invalid': f.function.errors && f.function.touched }">
              <option value="NaoInformado">Não Informado</option>
              <option value="Participante">Participante</option>
              <option value="Palestrante">Palestrante</option>
            </select>
            <div *ngIf="f.function.errors && f.function.touched" class="invalid-feedback">
              <div *ngIf="f.function.errors.required">função é obrigatório é obrigatório</div>
            </div>
          </div>
        </div>

        <div>
          <h6 class="pt-3 border-bottom text-danger">Alterar Senha</h6>
        </div>

        <div class="row">
          <div class="form-group col-sm">
            <label>Nova Senha</label>
            <input type="password" formControlName="password" class="form-control"
              [ngClass]="{ 'is-invalid': f.password.errors && f.password.touched }" />
            <div *ngIf="f.password.errors && f.password.touched" class="invalid-feedback">
              <div *ngIf="f.password.errors.required">Senha é obrigatório</div>
              <div *ngIf="f.password.errors.minlength">Senha precisa ter pelo menos 6 caracteres</div>
            </div>
          </div>

          <div class="form-group col-sm">
            <label>Repita Senha</label>
            <input type="password" formControlName="confirmPassword" class="form-control"
              [ngClass]="{ 'is-invalid': f.confirmPassword.errors && f.confirmPassword.touched }" />
            <div *ngIf="f.confirmPassword.errors && f.confirmPassword.touched" class="invalid-feedback">
              <div *ngIf="f.confirmPassword.errors.required">Confirmação de senha é Obrigatório</div>
              <div *ngIf="f.confirmPassword.errors.mustMatch">Repedir a senha é obrigatório.</div>
            </div>
          </div>
        </div>

      </div>
    </div>

    <div class="card-footer">
      <div class="d-flex">
        <button (click)="resetForm($event)" class="btn btn-outline-danger mr-auto border">
          Cancelar Alteração
        </button>
        <button class="btn btn-outline-primary ms-auto" type="submit" >
          Salvar Alteração
        </button>
      </div>

    </div>
  </form>

</div>
